<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="logo">
        <a class="logo__link">
          <img src="./img/PetStory-logo.svg" width="72" height="45" alt="logo" class="logo__img">
        </a>
      </div>
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Map</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Zoos</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Contact us</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Designed by ©</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
